[user]
	name = Aniket-Mishra
	email = anmishraofficial@gmail.com

[includeIf "gitdir:/Users/aniket/TU_Eindhoven/"]
    path = /Users/aniket/github/dotfiles/gitconfig_tue/gitconfig_tue
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[interactive]
	diffFilter = diff-so-fancy --patch
