[user]
	name = Aniket-Mishra
	email = anmishraofficial@gmail.com

[includeIf "gitdir:/Users/aniket/TU_Eindhoven/"]
    path = /Users/aniket/github/dotfiles/gitconfig_tue/gitconfig_tue
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[interactive]
	diffFilter = diff-so-fancy --patch
[color]
	ui = true
[color "diff"]
	highlightOld = red bold
	highlightNew = green bold
	meta = 11
	frag = magenta bold
	func = 146 bold
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
